<div class="container-fluid">
	<h2>Criar Alerta</h2>

	<form (submit)="sendEmail(message)">
		<div class="row py-3">
			<div class="col-sm">
				<div class="form-group">
					<label for="tipologia">Tipologia</label>
					<select class="form-control" id="tipologia" ng-model="tipologia">
						<option>Tipologia 1</option>
						<option>Tipologia 2</option>
						<option>Emergências e Operações de Proteção e Socorro</option>
					</select>
				</div>

			</div>
			<div class="col-sm">
				<div class="form-group">
					<label for="ocorrencia">Ocorrência</label>
					<select class="form-control" id="ocorrencia" ng-model="ocorrencia">
						<option>Fenómenos Naturais</option>
						<option>Incêndios Urbanos ou em Área Urbanizável</option>
						<option>Incêndios em Transportes</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7 order-md-1">
				<div class="row">
					<div class="form-group col-md-12">
						<label for="local">Local/Morada</label>
						<input [(ngModel)]="local" type="text" class="form-control" id="local" placeholder="Rua, nº porta" name="local">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="graduado">O mais Graduado no Local</label>
							<input type="text" class="form-control" id="graduado" placeholder="Nome do Graduado" [(ngModel)]="nomeGraduado" name="nomeGraduado">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="classeGraduado" id="classeGraduado1" value="General" [(ngModel)]="grauGraduado" name="grauGraduado">
							<label class="form-check-label" for="classeGraduado1">
								General
							</label>
						</div>
					</div>

					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="classeGraduado" id="classeGraduado2" value="Capitão" [(ngModel)]="grauGraduado" name="grauGraduado">
							<label class="form-check-label" for="classeGraduado2">
								Capitão
							</label>
						</div>
					</div>

					<div class="col">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="classeGraduado" id="classeGraduado3" value="Chefe"[(ngModel)]="grauGraduado" name="grauGraduado">
							<label class="form-check-label" for="classeGraduado3">
								Chefe
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-lg pt-4">
						<label>Número de Viaturas</label>
						<select class="custom-select" id="numeroViaturas" [(ngModel)]="numeroViaturas" name="numeroViaturas">
							<option value="">Nº Viaturas</option>
							<option value="1 viatura">1</option>
							<option value="2 viaturas">2</option>
							<option value="3 viaturas">3</option>
							<option value="4 viaturas">4</option>
							<option value="5 viaturas">5</option>
							<option value="6 viaturas">6</option>
							<option value="7 viaturas">7</option>
						</select>
					</div>

					<div class="form-group col-lg pt-lg-4">
						<label>Número de Feridos</label>
						<select class="custom-select" id="numeroFeridos" [(ngModel)]="numeroFeridos" name="numeroFeridos">
							<option value="">0</option>
							<option value="1 feridos">1</option>
							<option value="2 feridos">2</option>
							<option value="3 feridos">3</option>
							<option value="4 feridos">4</option>
							<option value="5 feridos">5</option>>
							<option value="6 feridos">6</option>
							<option value="7 feridos">7</option>
							<option value="8 feridos">8</option>
							<option value="9 feridos">9</option>
							<option value="10 feridos">10</option>
							<option value="mais de 10 feridos">10+</option>
						</select>
					</div>

					<div class="form-group col-lg pt-lg-4">
						<label>Número de Mortes</label>
						<select class="custom-select" id="numeroMortes" [(ngModel)]="numeroMortes" name="numeroMortes">
							<option value="">0</option>
							<option value="1 morte">1</option>
							<option value="2 mortes">2</option>
							<option value="3 mortes">3</option>
							<option value="4 mortes">4</option>
							<option value="5 mortes">5</option>>
							<option value="6 mortes">6</option>
							<option value="7 mortes">7</option>
							<option value="8 mortes">8</option>
							<option value="9 mortes">9</option>
							<option value="10 mortes">10</option>
							<option value="mais de 10 mortes">10+</option>
						</select>
					</div>
				</div>

				<div class="row justify-content-md-center mt-md-5">
					<div class="col-md-4 col-sm-6">
						<button type="button" class="btn btn-secondary">Limpar Campos</button>
					</div>

					<div class="col-md-4 col-sm-6">
						<button type="submit" class="btn btn-primary">Enviar Alerta</button>
					</div>
					
				</div>
			</div>


			<div class="col-md-5 order-md-2">
				<h3>Mensagem:</h3>
				<h5>Incêndio Urbano</h5>
				<label for="message1">Message1</label>
				<p> 
					Incêndio urbano na <u>{{local}}</u>. Para o local foram enviadas <u>{{numeroViaturas}}</u> supervisionadas pelo respetivo graduado da guarnição, <u>{{grauGraduado}}</u> <u>{{nomeGraduado}}</u>, de momento conta-se com <u>{{numeroFeridos}}</u> e <u>{{numeroMortes}}</u>.
				</p>

				<textarea cols="70%" rows="7" ng-model="message2" id="message2" name="message2">Incêndio urbano na {{local}}. Para o local foram enviadas {{numeroViaturas}} supervisionadas pelo respetivo graduado da guarnição, {{grauGraduado}} {{nomeGraduado}}, de momento conta-se com {{numeroFeridos}} e {{numeroMortes}}.</textarea>

				<textarea ng-model="message" id="message" name="message"></textarea>
    
			</div>

		</div>
	</form>
	
</div>