<div class="row py-3">
    <div class="col-sm">
      <div class="form-group">
        <label for="tipologia">Tipologia Programada</label>
        <select class="form-control" id="tipologia" ng-model="tipologia">
          <option>Operações e Estados de Alerta</option>
          <option>Impedimento ou perturbação de circulação (com corte de via)</option>
          <option>Estado do Trânsito</option>
        </select>
      </div>
    </div>
  
    <div class="col-sm">
        <div class="form-group">
          <label for="ocorrencia">Ocorrência</label>
          <select class="form-control" id="ocorrencia" ng-model="ocorrencia">
            <option>Fenómenos Naturais</option>
            <option>Incêndios Urbanos ou em Área Urbanizável</option>
            <option>Incêndios em Transportes</option>
          </select>
        </div>
      </div>
  
  </div>