<div class="row py-3">
  <div class="col-sm">
		<div class="form-group">
			<label for="tipologia">Tipologia Não Programada</label>
			<select class="form-control" id="tipologia" ng-model="tipologia">
				<option>Emergências e Operações de Proteção e Socorro (NOP 3101/2015 ANPC)</option>
				<option>Impedimento de circulação (provocando corte de via(s) em arruamento(s) ou túneis)</option>
        <option>Perturbação de circulação (sem corte de via)</option>
        <option>Zona de Acesso Automóvel Condicionado (ZAAC)</option>
        <option>Atropelamento (sinistralidade rodoviária)</option>
			</select>
		</div>
  </div>

  <div class="col-sm">
      <div class="form-group">
        <label for="ocorrencia">Ocorrência</label>
        <select class="form-control" id="ocorrencia" ng-model="ocorrencia">
          <option>Fenómenos Naturais</option>
          <option>Incêndios Urbanos ou em Área Urbanizável</option>
          <option>Incêndios em Transportes</option>
        </select>
      </div>
    </div>

</div>